body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

#body-section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr; /* Create two equal-width columns */
  justify-content: space-between; /* Center horizontally */
}

@media only screen and (max-width: 1200px) {
  .svg {
    height: 55vh !important;
  }

  #wrapper object {
    max-width: 240px !important;
  }

  main {
    overflow: hidden;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.hidden {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.siema {
  width: 100%;
  overflow: hidden;
}

.svg {
  width: 100%;
  height: auto;
}

#wrapper object {
  max-width: 500px;
}

.object-wrapper {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
}

.control {
  width: 12px;
  height: 12px;
  background-color: rgb(175, 175, 175);
  transition: 0.3s ease background-color;
  border-radius: 100%;
  cursor: pointer;
}

#back-btn {
  display: none;
}
